# IDE-specific files
.vscode/
.idea/

# Python-specific files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
ENV/
.venv/

# Packaging
*.egg-info/
dist/
build/

# Logs and databases
*.log
*.sqlite3
services/billing/data

# Environment variables file
.env

# Docker and builds
*.tar.gz

# OS specific files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
*.pyc

# Unit test / coverage reports
.coverage

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
*.DS_Store

# Windows

# Distribution / packaging
.Python
pip-log.txt
pytest_cache/
tox/

# Other
node_modules/
coverage/
.cache/
.mypy_cache/
.ruff_cache/

# Tests compose
.*temp*.yml
