# Project settings

APP_NAME="Billing"
APP_HOST="localhost"
APP_PORT=8075
APP_ROOT_PATH="/billing"

# API settings
API_VERSION="v1"
API_DOCS_URL="/api/${API_VERSION}/openapi"
API_OPENAPI_URL="/api/${API_VERSION}/openapi.json"
