# Project settings

APP_NAME="Billing"
APP_HOST="localhost"
APP_PORT=8075
APP_ROOT_PATH="/billing"

# API settings
API_VERSION="v1"
API_DOCS_URL="/api/${API_VERSION}/openapi"
API_OPENAPI_URL="/api/${API_VERSION}/openapi.json"

# Postgres settings
POSTGRES_DB=billing_database
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=billing_app_postgres
POSTGRES_PORT=5432
POSTGRES_ASYNC_SCHEMA=postgresql+asyncpg
POSTGRES_DSN=${POSTGRES_ASYNC_SCHEMA}://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
POSTGRES_DSN_LOCAL=${POSTGRES_ASYNC_SCHEMA}://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
POSTGRES_DSN_PG=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
PGPORT=${POSTGRES_PORT}

# JWT token settings
JWT_SECRET_KEY="some-secret-key"
JWT_ALGORITHM=HS256
JWT_AT_EXPIRE_MINUTES=30
JWT_RT_EXPIRE_MINUTES=1440

# Token Cookie
AUTH_ACCESS_NAME="auth-app-access-key"
AUTH_REFRESH_NAME="auth-app-refresh-key"
AUTH_HOST=
AUTH_PORT=
AUTH_VERSION=
AUTH_USER_HANDLE=
AUTH_URL_USER=http://${AUTH_HOST}:${AUTH_PORT}/api/${AUTH_VERSION}/${AUTH_USER_HANDLE}
