# # Project settings
# APP_NAME="Billing"
# APP_HOST="localhost"
# APP_PORT=8075
# APP_ROOT_PATH="/billing"

# # API settings
# API_VERSION="v1"
# API_DOCS_URL="/api/${API_VERSION}/openapi"
# API_OPENAPI_URL="/api/${API_VERSION}/openapi.json"

# # Postgres settings
# POSTGRES_DB=billing_database
# POSTGRES_USER=app
# POSTGRES_PASSWORD=123qwe
# POSTGRES_HOST=billing_app_postgres
# POSTGRES_PORT=5432
# POSTGRES_ASYNC_SCHEMA=postgresql+asyncpg
# POSTGRES_DSN=${POSTGRES_ASYNC_SCHEMA}://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
# POSTGRES_DSN_LOCAL=${POSTGRES_ASYNC_SCHEMA}://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
# POSTGRES_DSN_PG=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
# PGPORT=${POSTGRES_PORT}

# # Redis sittings
# REDIS_PORT=6379
# REDIS_HOST=billing_app_redis
# REDIS_DSN=redis://${REDIS_HOST}:${REDIS_PORT}
# REDIS_BACKOFF_MAX_TIME=300
# REDIS_BACKOFF_MAX_TRIES=10
# REDIS_RECORD_EXPIRATION_TIME=900

# # JWT token settings
# JWT_SECRET_KEY="some-secret-key"
# JWT_ALGORITHM=HS256
# JWT_AT_EXPIRE_MINUTES=30
# JWT_RT_EXPIRE_MINUTES=1440

# # Token cookie
# AUTH_ACCESS_NAME="auth-app-access-key"
# AUTH_REFRESH_NAME="auth-app-refresh-key"
# AUTH_HOST="auth_app_backend"
# AUTH_PORT=8001
# AUTH_VERSION=v1
# AUTH_USER_HANDLE=user
# AUTH_URL_USER="http://${AUTH_HOST}:${AUTH_PORT}/api/${AUTH_VERSION}/${AUTH_USER_HANDLE}"

# # Payment settings
# YOOKASSA_ACCOUNT_ID="454344"
# YOOKASSA_SECRET_KEY="<ask stepan>"
# YOOKASSA_RETURN_URL="api/v1/payment_create_callback/{transaction_id}"

# Kafka
KAFKA_URL="billing_app_kafka-0:9092"
KAFKA_RETRY_BACKOFF_MS=200
KAFKA_TOPIC_NAME=payment_transaction


# Project settings
APP_NAME="Billing"
APP_HOST="localhost"
APP_PORT=8075
APP_ROOT_PATH="/billing"

# API settings
API_VERSION="v1"
API_DOCS_URL="/api/${API_VERSION}/openapi"
API_OPENAPI_URL="/api/${API_VERSION}/openapi.json"
API_RESULTS_CALLBACK_URL="/api/${API_VERSION}/results_callback"

# Postgres settings
POSTGRES_DB=billing_database
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=billing_app_postgres
POSTGRES_PORT=5432
POSTGRES_ASYNC_SCHEMA=postgresql+asyncpg
POSTGRES_DSN=${POSTGRES_ASYNC_SCHEMA}://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
POSTGRES_DSN_LOCAL=${POSTGRES_ASYNC_SCHEMA}://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
POSTGRES_DSN_PG=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
PGPORT=${POSTGRES_PORT}

# Redis sittings
REDIS_PORT=6379
REDIS_HOST=billing_app_redis
REDIS_DSN=redis://${REDIS_HOST}:${REDIS_PORT}
REDIS_BACKOFF_MAX_TIME=300
REDIS_BACKOFF_MAX_TRIES=10
REDIS_RECORD_EXPIRATION_TIME=900

# JWT token settings
JWT_AUTHJWT_SECRET_KEY='some-secret-key'
JWT_AUTHJWT_ALGORITHM=HS256
JWT_AUTHJWT_ACCESS_TOKEN_EXPIRES=1800
JWT_AUTHJWT_ACCESS_COOKIE_KEY=auth-app-access-key
JWT_AUTHJWT_REFRESH_COOKIE_KEY=auth-app-refresh-key

# Token cookie
AUTH_ACCESS_NAME="auth-app-access-key"
AUTH_REFRESH_NAME="auth-app-refresh-key"
AUTH_HOST="auth_app_backend"
AUTH_PORT=8071
AUTH_VERSION=v1
AUTH_USER_HANDLE=user
AUTH_URL_USER="http://${AUTH_HOST}:${AUTH_PORT}/api/${AUTH_VERSION}/${AUTH_USER_HANDLE}"

# Payment settings
YOOKASSA_ACCOUNT_ID=445973
YOOKASSA_SECRET_KEY=test_pdj8-mgmhFNYhpwZJ3Q2nieBHBRm5GcC4TxZN4ZAnQY
YOOKASSA_RETURN_URL="api/v1/payment_create_callback/{transaction_id}"

# Kafka
KPREFIX=billing_app_
KAFKA_CLUSTER_IMAGE=bitnami/kafka:3.4
KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS=${KPREFIX}kafka-0:9092
KAFKA_CLUSTERS_0_NAME=kraft
KAFKA_KRAFT_CLUSTER_ID=abcdefghijklmnopqrstuv
KAFKA_BROKERS=${KPREFIX}kafka-0:9094,${KPREFIX}kafka-1:9095
KAFKA_BOOTSTRAP_SERVERS=${KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS}
KAFKA_ENABLE_KRAFT=yes
KAFKA_CFG_PROCESS_ROLES=broker,controller
KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
ALLOW_PLAINTEXT_LISTENER=yes
KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@${KPREFIX}kafka-0:9093,1@${KPREFIX}kafka-1:9093
KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
KAFKA_GROUP_ID=4fb28c9b
KAFKA_RETRY_BACKOFF_MS=300

# Kafka nodes
KAFKA_NODE_0_PORT=9094
KAFKA_NODE_0_CFG_NODE_ID=0
KAFKA_NODE_0_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
KAFKA_NODE_0_CFG_ADVERTISED_LISTENERS=PLAINTEXT://${KPREFIX}kafka-0:9092,EXTERNAL://127.0.0.1:9094

KAFKA_NODE_1_PORT=9095
KAFKA_NODE_1_CFG_NODE_ID=1
KAFKA_NODE_1_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9095
KAFKA_NODE_1_CFG_ADVERTISED_LISTENERS=PLAINTEXT://${KPREFIX}kafka-1:9092,EXTERNAL://127.0.0.1:9095

# Backoff settings
BACKOFF_MAX_TRIES=100
BACKOFF_MAX_TIME=300
